.tracklist {
    margin-top: 50px;
    height: 85vh;
    overflow: auto;
    &__track {
        font-size: 1em;
        margin: 5px;
        text-align: left;
    }
}


@media (max-width: $desktop-breakpoint){
    .tracklist {
        height: auto;
        text-align: center;
    }
}