body {
    color: $white;
    background-color: $blue-dark;
}

.main {
    display: flex; 
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "header";
    font-size: 50pt;
}

h2 {
    font-family: "paragraph";
    font-size: 20pt;
}

a {
    font-family: "action";
    text-decoration: none;
    color: $white;
}

p {
    font-family: "paragraph";
    font-size: 25pt;
}

input[type="text"] {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    text-align: center;
    font-size: 13pt;
    margin: 15px;
    text-transform: capitalize;
    &::placeholder {
        text-transform: initial;
    }
}

.button {
    font-family: "action";
    font-size: 13pt;
    color: $black;
    text-decoration: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    border: solid 1px $black;
    box-shadow: 0px 0px 10px 2px $grey;
    &-green {
        background-color: $green;
        &:hover {
            background-color: $green-light;
        }
    }
    &-blue {
        background-color: $blue;
        &:hover {
            background-color: $blue-light;
        }
    }
}

.align-left {
    align-self: flex-start;
}

.align-right {
    align-self: flex-end;
}