body {
    color: $white;
    background-color: $grey_dark;
}

.main {
    display: flex; 
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "header";
    font-size: 50pt;
}

h2 {
    font-family: "paragraph";
    font-size: 20pt;
}

a {
    font-family: "action";
    text-decoration: none;
    color: $white;
}

p {
    font-family: "paragraph";
    font-size: 25pt;
    &.text-small {
        font-size: 20pt;
    }
    &.text-tiny {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16pt;
        margin: 0;
        font-weight: 400;
    }
}

input[type="text"] {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    text-align: center;
    font-size: 13pt;
    margin: 15px;
    &::placeholder {
        color: black;
    }
}

.button {
    font-family: "action";
    font-size: 13pt;
    color: $black;
    text-decoration: none;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    &-green {
        background-color: $orange;
        &:hover {
            background-color: $orange_light;
        }
    }
    &-blue {
        background-color: $blue;
        &:hover {
            background-color: $blue_light;
        }
    }
    &-yellow {
        background-color: $yellow;
        &:hover {
            background-color: $yellow_light;
        }
    }
    &-grey {
        background-color: $grey;
        &:hover {
            background-color: $grey_light;
        }
    }
    &-orange {
        background-color: $orange;
        &:hover {
            background-color: $orange_light;
        }
    }
}

.align-left {
    align-self: flex-start;
}

.align-right {
    align-self: flex-end;
}

.capitalize {
    text-transform: capitalize;
}

@media screen and (max-height: 500px){
    h1, p {
        padding: 5px;
        margin: 5px;
    }
}