.start {
    text-align: center;
    &__singers {
        background-color: $grey_light;
        padding: 15px;
        width: 60%;
        margin: auto;
        color: $black;
        border: 10px double $blue_dark;
    }
}