@font-face {
    font-family: 'header';
    src: url('../fonts/BRLNSDB.woff')format('woff')
}
@font-face {
    font-family: 'action';
    src: url('../fonts/arial-rounded-mt-bold.woff')format('woff')
}
@font-face {
    font-family: 'paragraph';
    src: url('../fonts/Candara.woff')format('woff')
}

$black: #000;
$grey: #333;
$white: #fff;
$blue: rgb(0, 120, 255);
$blue-light: rgb(130, 200, 255);
$red: rgb(240, 0, 40);
$green: rgb(60, 255, 0);
$green-light: rgb(153, 255, 122);