@font-face {
    font-family: 'header';
    src: url('../fonts/BRLNSDB.woff')format('woff')
}
@font-face {
    font-family: 'action';
    src: url('../fonts/arial-rounded-mt-bold.woff')format('woff')
}
@font-face {
    font-family: 'paragraph';
    src: url('../fonts/Candara.woff')format('woff')
}

$black: #000;
$black_light: #252836;
$grey_dark: #333;
$grey: #868686;
$grey_light: rgb(175, 175, 175);
$grey_faint: rgb(221, 221, 221);
$white: #fff;
$blue: #42a4f4;
$blue_light: rgb(130, 200, 255);
$blue_dark: rgb(0, 120, 255);
$red: rgb(240, 0, 40);
$red-light: rgb(184, 84, 100);
$green: #25dd1f;
$green_light: #66ff37;
$orange: #e87b58;
$orange_light: #f08e6e;
$orange_dark: #af593c;
$yellow: rgb(206, 206, 80);
$yellow_light: rgb(245, 245, 124);
$yellow_dark: rgb(165, 165, 53);