.search-bar {
  width: 100%;
}

.search-controls {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.song-input {
  width: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  background-color: white;
  color: black;
  margin-top: -15px;
  padding-top: 15px;
  max-height: 500px;
  & > p {
    color: black;
    padding: 3px 10px;
  }
  & > p:hover {
    background-color: $blue;
    color: black;
  }
}
